<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand" id="username">
                <a>{{currentUser.username}}</a>
            </li>
            <li class="sidebar-link" id="create">
                <a href="#/create">Create Team</a>
            </li>
            <li class="sidebar-link" id="join">
                <a href="#/join">Join Team</a>
            </li>
            <li class="sidebar-brand">
                <a>My Teams</a>
            </li>
            <!-- show all teams -->
            <li class="sidebar-item" ng-repeat="team in teams">  
                <a ng-click="enterChatRoom(team)">{{team}}</a>
            </li>
            <!--if user has o teams show this  -->
            <li class="sidebar-item" ng-show="!teams.length">
                <a>No teams available</a>
            </li>
            
            <!--  Team members -->
            <li class="sidebar-brand">
                <a>{{currentTeam}}</a>
            </li>
            <!-- show all members of the selected team -->
            <li class="sidebar-item" ng-repeat="member in currentTeamMembers">  
                <a ng-click="enterPrivateChatRoom(member)">{{member.login}}</a>
            </li>   
           
            <!--if team has no members show this  -->
            <li class="sidebar-item" ng-show="currentTeam !== null && !currentTeamMembers.length">
                <a>No members</a>
            </li>
            
            <li class="sidebar-link">
                <a id='logout' href="#/login" >Log out</a>
            </li>
            
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="chat_window">
                <div class="col-lg-12">
                    <h4>{{chat_title}}</h4>
                    <div id="chat_log"> 
                    <!--This is where all messages will appear-->            
                        <div ng-repeat="message in log">
                            <div class="chat_message">
                                <img ng-src="{{message.avatar}}" style="display: inline-block" />
                                <p class="chat_text" style="display: inline-block" ><b>{{message.text}}</b></p>
                                <p class="chat_date"><em>{{message.date | date:'yyyy-MM-dd HH:mm'}}</em></p>
                                <p style="margin-left: 7px">{{message.sender}}</p>
                            </div>
                        </div>   
                    </div>
                    <div id="chatbox" class="input-group">
                        <form ng-submit="writeMessage(text)" id="myForm">
                            <input ng-model="text" class="form-control input-lg" placeholder="Type your message here..." />                
                        </form>

                        <span class="input-group-btn">
                            <button ng-click="writeMessage(text)" class="btn btn-warning btn-lg" id="btn-chat">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->