#chat_log{
    height:450px;
    width:800px;
    overflow-x:hidden;
    overflow-y: auto;
}
#chatbox{
/*    position: absolute;*/
    bottom: 0;
    margin: 10px;
}
.chat_message{    
    float: left;
    width: 500px;
    padding: 4px;
    margin: 2px;
    
/*    background-color: pink;*/
    border: 1px solid #9f999e;
    border-radius: 15px;
}
.chat_text{
    font-family: sans-serif;
}
.chat_date{
    font-family: serif;
    font-size: 12px;
    float: right;
    margin: 5px;
}